<!DOCTYPE html>
<html>
<head>
	<title>Calendar</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
	<div class= 'container-fluid'>

	 <div class= 'row'>
	  <div class= 'col-sm'>
	  <button class='btn btn-primary' type= 'submit'>Jan</button>
	  </div>
	  <div class= 'col-sm'>
	  <p>Feb</p>
	  </div>
	  <div class= 'col-sm'>
	  <p>Mar</p>
	  </div>
	 </div>

	  <div class= 'row'>
	  <div class= 'col-sm'>
	  <p>Apr</p>
	  </div>
	  <div class= 'col-sm'>
	  <p>May</p>
	  </div>
	  <div class= 'col-sm'>
	  <p>Jun</p>
	  </div>
	 </div>

	  <div class= 'row'>
	  <div class= 'col-sm'>
	  <p>Jul</p>
	  </div>
	  <div class= 'col-sm'>
	  <p>Aug</p>
	  </div>
	  <div class= 'col-sm'>
	  <p>Sep</p>
	  </div>
	 </div>

	  <div class= 'row'>
	  <div class= 'col-sm'>
	  <p>Oct</p>
	  </div>
	  <div class= 'col-sm'>
	  <p>Nov</p>
	  </div>
	  <div class= 'col-sm'>
	  <p>Dec</p>
	  </div>
	 </div>

	</div>
</body>
</html>