body {
	background-color: rgb(78, 81, 78);
}

h1 {
	color: rgb(249, 177, 19);
	text-align: center;
	margin-top: 2%;
}

a {
	text-decoration: none;
	text-align: center;
	color: white;
}

ul {
	list-style-type: none;
	text-align: center;
}


.container .navbar-brand {
	color: rgb(249, 177, 19);
	font-size: 30px;
}

.container .nav-link {
	color: rgb(249, 177, 19);
	text-align: center;	
}

.container li {
	list-style-type: none;	
}

.logout-btn {
	border-radius: 3px;
	background-color: rgb(11, 163, 239);
	color: white;
	border-width: 0px;
	font-size: 15px;
	text-align: center;
	width: 80px;
	height: 22px;
}


.display-container {
	text-align: center;
}

.output {
	color: rgb(249, 177, 19);
}

.table {
	margin: 10% auto;
}

.expense-attribute {
	color: white;
}


.btn-primary {
	margin-left: 150px;
	margin-right: 30px;
}

.btn-danger {
	margin-left: 30px;
	margin-right: 70px;
}


input[type=text] {
	background-color: rgb(60, 188, 141);
	color: white;
	border-radius: 3px;
	border-color: rgb(60, 188, 141);
}

input[type=number] {
	background-color: rgb(60, 188, 141);
	color: white;
	border-radius: 3px;
	border-color: rgb(60, 188, 141);
}

.expense-form {
	color: white;
}

.submit-1 {
	border-radius: 3px;
	background-color: rgb(11, 163, 239);
	color: white;
	border-width: 0px;
	font-size: 15px;
	text-align: center;
	width: 100px;
	height: 35px;
	margin-right: 80px;	
}

.submit-2 {
	border-radius: 3px;
	background-color: rgb(11, 163, 239);
	color: white;
	border-width: 0px;
	font-size: 15px;
	text-align: center;
	width: 100px;
	height: 35px;
	margin-left: 80px;	
}

.version {
	color: rgb(249, 177, 19);
	margin-top: 210px;
	margin-right: 20px;
	text-align: right;
}